/* locationMarker.css */
.Address{

  display: flex;
  width: fit-content;
  height: fit-content;
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.AddressName {
  text-align: left;
}
.AddressName p {
  margin: 8px 0;
  margin-left: 1rem;
  font-size: 14px;
  color: #555;
}

.AddressName .street {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.AddressName .city,
.AddressName .state,
.AddressName .pin {
  font-size: 14px;
  color: #666;
}

.card {
  width: 290px;
  height: fit-content;
  background-image: linear-gradient(163deg, blue,purple 100%);
  border-radius: 10px;
  transition: all .3s;
  
  border-color: white;
 }
 
 .card2 {
  width: 290px;
  height: fit-content;
  background: linear-gradient(to right,skyblue,skyblue,gray);
  border-radius: 9px;
  
  transition: all .2s;
 }
 
 .card2:hover {
  transform: scale(0.99);
  border-radius: 10.5px;
 }
 
 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(251, 2, 127, 0.3);
 }
 /* locatio loader */
.Address .loader {
  width: 30px;
  height: 30px;
  position: relative;
  
  margin:auto;
  transform: rotate(45deg);
}
.Address .loader::before, 
.Address .loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 8px at 50% 50%, red 94%, rgb(230, 92, 92), blue);
}

.Address .loader::after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
/* WholeAddress */
.WholeAddress{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:0.8rem;
  justify-content:space-evenly;
  margin: 2rem;
  
  
}
/* calendar button */
/* From Uiverse.io by andrew-demchenk0 */ 
.cal-button {
  
  margin-left: 2%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 40px;
  width: 201px;
  border: none;
  background: #FF342B;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.cal-button:hover {
  background: #e52e26;
}

.cal-button:hover .svg-icon {
  animation: slope 0.5s linear infinite;
}

@keyframes slope {
  0% {
  }

  50% {
    transform: rotate(70deg);
  }

  100% {
  }
}
.cal-button-txt{
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  color: white;
}
.showSchedule{
  display: grid;
  gap: 1rem;
  grid-template-columns:repeat(4,1fr) ;
  color: rgb(9, 9, 9);
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1rem;
 
}
.showSchedule1{
  width: 290px;
  height: fit-content;
  background:radial-gradient(skyblue,skyblue,skyblue,black);
  border-radius: 20px;
  padding: 1rem;
  
  text-align: center;
}
.showSchedule1 a{
  color: blue;
}