/* DishList.css */


.dish-list {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: radial-gradient(to center,white,black);
    justify-content: center;
    border: pink;
    
    
}

.dish-item {
    
   
    background-size: cover;
    width: 200px; 
    
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensure image stays within the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a smooth effect */
    text-align: center; /* Center the text */
    background-color: #fff; /* White background for each dish item */
    padding: 10px;
    color: white;
    margin-bottom: 1rem;
}

.dish-image {
    width: 100%; /* Make the image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px; /* Match the rounded corners of the container */
}

.map-intro{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-left: 1rem;
}



article{
    margin: 3rem;
    color: transparent;
    background:linear-gradient(to right,rgb(2, 189, 27),rgb(240, 12, 240));
    -webkit-background-clip: text;
}

.table-book-form{
    display: flex;
    margin-right: 15%;
    /* margin-left: 10%; */
    justify-content: end;
    

}
/* /book table csss */
/* From Uiverse.io by Yaya12085 */ 
.book-table-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .book-table-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
  }
  
  .group {
    position: relative;
  }
  
  .book-table-form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .book-table-form .group input,
  .book-table-form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .book-table-form .group input:placeholder-shown+ label, .book-table-form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .book-table-form .group input:focus,
  .book-table-form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .book-table-form .group input:focus+ label, .book-table-form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .book-table-form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .book-table-form button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .book-table-form button:hover {
    background-color: #27408b;
  }
  /* book now button  */
  /* From Uiverse.io by catraco */ 
.btn-class-name {
    display: flex;
    justify-content: center;
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
  }
  
  .btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
  }
  
  .btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
  }
  /* /mine */
  .img-table-form {
    height: fit-content;
    position: relative;
    padding: 20px; 
    overflow: hidden;
    
   
}
.images img{
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border-radius: 20%;
}
/*  */
.aluthu-btn{
    font-size: 20px;
    color: blue;
}
.btn-class-name{
    margin: 1rem 2rem;
}
.whole2{
  
  background: linear-gradient(to bottom,white,rgb(132, 207, 237));
}
.amt-offer{
  display: flex;
  flex-direction: row;
  margin: 2rem;
}
.amt-offer span{
  font-size: 20px;
  /* color: blue; */
  background: linear-gradient(to right,rgb(11, 252, 79),rgb(170, 230, 51));
  color: transparent;
  -webkit-background-clip: text;
}
.amt{
  font-size: 30px;
  background: linear-gradient(to right,rgb(245, 3, 188),rgb(3, 169, 246));
  color: transparent;
  -webkit-background-clip: text;
}

  
